/* App.css */

/* Tüm sayfa boyunca genişlik ve yükseklik ayarları */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* App bileşeni */
.App {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Container içeriği ortala */
.Container {
  text-align: center;
}

/* H1 etiketi (başlık) */
h1 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Iframe içeriği ortala */
.ratio-16x9 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Paragraf stil ayarları */
.paragraf {
  text-align: left;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}
.paragraf-sag {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}
